.sign-in {
  display: flex;
  flex-direction: column;
  width: 45%;
  font-size: 1.8rem;
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 640px) {
  .sign-in {
    width: 47%;

    .buttons {
      flex-direction: column;
      width: 95%;
      height: 11rem;
    }
  }
}
