.cart-dropdown {
  position: absolute;
  width: 30rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 0.1rem solid black;
  background-color: white;
  top: 9rem;
  right: 4rem;
  z-index: 5;

  .cart-items {
    height: 29rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    .empty {
      margin: 5rem auto;
    }
  }

  button {
    margin-top: auto;
  }
}
