.cart-icon {
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .item-count {
    position: absolute;
    font-size: 1.1rem;
    font-weight: bold;
    bottom: 0.3rem;
  }
}
