.header {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 60px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  .logo-container {
    transform: scale(1.4);
    cursor: pointer;
  }

  .options {
    font-size: 21px;
    font-weight: 400;

    .option {
      margin: 0 10px;
      padding: 0 5px;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      color: #303030;
    }
    .option::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.25rem;
      left: 0;
      top: 35px;
      transform: scale(0, 1);
      transform-origin: 50% 100%;
      transition: transform 0.1s ease;
      background-color: #eaee08;
    }
    .option:hover::after {
      transform: scale(1, 1);
      transform-origin: 50% 100%;
    }
  }
}
