.menu-item {
  min-width: 25%;
  height: 240px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 0 25px 50px;
  position: relative;
  overflow: hidden;
  &.large {
    height: 300px;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: transform 0.2s;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  }
  .background-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.75);
    color: #303030;
    .title {
      font-size: 26px;
    }
    .title::after {
      content: "";
      position: absolute;
      width: 75%;
      height: 0.5rem;
      left: 12.5%;
      top: 42.5px;
      transform: scale(0, 1);
      transform-origin: 100% 0%;
      transition: transform 0.2s ease;
      z-index: -1;
      background-color: #eaee08;
    }
    .title:hover::after {
      transform: scale(1, 1);
      transform-origin: 0% 100%;
    }
    .subtitle {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0.77em;
      margin-top: -12.5px;
    }
  }
}
