.menu-item {
  min-width: 25%;
  height: 24rem;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  margin: 0 2.5rem 5rem;
  position: relative;
  overflow: hidden;
  &.large {
    height: 30rem;
  }

  .background-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: auto;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 2.5rem;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.75);
    color: #303030;
    .title {
      font-size: 2.6rem;
    }
    .title::after {
      content: "";
      position: absolute;
      width: 75%;
      height: 0.5rem;
      left: 12.5%;
      top: 4.25rem;
      transform: scale(0, 1);
      transform-origin: 100% 0%;
      transition: transform 0.2s ease;
      z-index: -1;
      background-color: #eaee08;
    }
    .title:hover::after {
      transform: scale(1, 1);
      transform-origin: 0% 100%;
    }
    .subtitle {
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 0.77em;
      margin-top: -1.25rem;
    }
  }
}
.menu-item:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 0.2s;
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.7);
}

@media (max-width: 640px) {
  .menu-item {
    min-width: 90%;
    height: 25rem;
    display: flex;
    border-radius: 1.5rem;
    margin: 0 1.5rem 3rem;
    &.large {
      height: 25rem;
    }

    .content {
      height: 50%;
      width: 50%;
      padding: auto;

      .title {
        font-size: 4rem;
        margin-top: 1.25rem;
      }
      .subtitle {
        font-size: 2.75rem;
        font-weight: 400;
        margin-bottom: 0rem;
        margin-top: -2.75rem;
      }
    }
  }
}
