.preview-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .image {
    height: 350px;
    width: 290px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  &:hover {
    .image {
      cursor: pointer;
      transition: transform 0.2s;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
      opacity: 0.85;
    }
    .invertedcustom-button {
      opacity: 0.95;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 101%;
    width: 100%;
    font-size: 21px;
    .preview-footer {
      display: flex;
      justify-content: space-between;
    }
  }

  .invertedcustom-button {
    position: relative;
    width: 70%;
    left: 43.5px;
    bottom: 115px;
  }
}
