.preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .image {
    height: 350px;
    width: 290px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      transition: transform 0.2s;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    }
  }
  .details {
    display: flex;
    position: absolute;
    top: 101%;
    width: 100%;
    justify-content: space-between;
    font-size: 21px;
  }
}
